/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background: #ddd;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.lead {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 0.7rem 0;
  border: 2px solid #fff;
  border-radius: 2rem;
  background: #333;
  color: #ddd;
  margin: 0.5rem 0;
  transition: all 200ms ease-in;
}

.btn:hover {
  background: #ddd;
  color: #000;
  border: 2px solid #333;
}

.inputForm {
  background: #fff;
  padding: 4rem;
  border-radius: 3rem;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#power-group,
#type1-group,
#type2-group,
#type3-group {
  display: none;
}

.label {
  font-weight: 550;
}

.inputForm select {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 25px;
}
